@media (max-width: 768px) {
    .container .reserva-imagem, 
    .container form {
      flex: 1 1 100%;
      margin: 10px 0;
      padding: 0;
    }
  }
  

  @media (max-width: 480px) {

    .container {
      padding: 10px;
    }
  }