@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist+Mono:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Variáveis das cores */
:root {
  --secondaryBackground: #fafafa;
  --background: #ffffff;
  --lightOrange: #f99948;
  --darkOrange: #f7801a;
  --cardBackground: #fff7e9;
  --greenText: #485441;
  --primary: #4b882a;
}

/* Reset geral */
* {
  margin: 0;
  padding: 0;
  height: auto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

/*  body */

h3 {
  font-family: "Nunito", serif;
  font-weight: 700;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Propriedades da Navbar */

.navbar {
  background-color: #fafafa !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar-expand-lg .navbar-nav {
  gap: 50px !important;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 0 auto;
  padding: 0;
}

.navbar-brand {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  max-width: 250px !important;
  max-height: 80px;
  height: auto;
}

.navbar-nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.navbar-nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  color: #000;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s ease;
  text-align: center;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #82a93a;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

.navbar-nav-right .btn {
  background-color: #f99948;
  color: #fff;
  border-radius: 5px;
  padding: 0.4rem 1.5rem;
  transition: background-color 0.3s ease;
}

.navbar-nav-right .btn:hover {
  background-color: #f7801a;
}

/* Footer */

#footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  background-color: var(--secondaryBackground);
}

footer img {
  width: 100px;
  height: 100px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socialLinks a i {
  font-size: 20px;
  color: var(--secondary);
  transition: color 0.3s ease;
}

.socialLinks a:hover i {
  color: var(--primary);
}
hr {
  border: 1px solid var(--primary);
  margin: 0;
}

/* Main content */
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder,
input[type="datetime-local"] {
  color: rgb(189, 189, 189);
  padding-left: 10px;
  font-size: 14px;
}

select {
  color: rgb(189, 189, 189);
  padding-left: 10px;
  font-size: 14px;
}

select option {
  color: #000;
}

.container {
  max-width: 1300px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}

.container h1 {
  color: #66a835;
  font-size: 36px;
}

.container p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.reserva-imagem {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  padding: 0 30px;
  height: 600px;
  width: 600px;
}

.reserva-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 600px;
  width: 600px;
}
#mensagem {
  height: 300px;
}

.row {
  display: flex;
}

.row .num-pessoas,
.row .data-hora {
  width: 50%;
}

select:not(.selected) {
  color: rgb(189, 189, 189);
}

select.selected {
  color: black;
}

select:not(.selected),
input[type="datetime-local"]:not(.selected) {
  color: rgb(189, 189, 189);
}

select.selected,
input[type="datetime-local"].selected {
  color: black;
}
form label {
  margin-bottom: 5px;
  color: rgb(189, 189, 189);
  margin-left: 10px;
}

form input,
form textarea,
form select {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: var(--cardBackground);
}

form textarea {
  grid-column: span 2;
  resize: none;
  height: 100px;
}

.btn-reservation {
  text-align: center;
}
.container-reservation {
  height: calc(100vh - 80px);
}
form .btn-submit {
  background-color: var(--darkOrange);
  color: #fff;
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .btn-submit:hover {
  background-color: var(--lightOrange);
}
